<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shakespeare Story Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header>
        <h1>Shakespeare Story Generator</h1>
    </header>

    <main>
        <section id="storyInput">
            <form id="storyForm">
                <textarea id="storyPrompt" class="input" placeholder="Enter starting prompt to generate a story"></textarea>
                <button type="submit" id="generateStoryButton">Generate Story</button>
            </form>
        </section>

        <section id="infoDisplay">
            <div id="loadingSpinner" class="loader"></div>
            <textarea id="promptSection" class="input">You are an intelligent story-writer. You create a short story STRICTLY IN 150 WORDS OR LESS from the user content, that contains character development, an interesting plot and  climax. You ensure that the generated story does not use any generic phrases and that it provides a detailed description of scenes.</textarea>
            <div id="metadataSection"></div>
            <div>
                <label for="bgMusicVolume">Background Music Volume: </label>
                <input type = "range" id="bgMusicVolume" min="0.1" max="1" step="0.1" value="0.5">
                    <span id="volumeValue">0.5</span>
            </div>
        </section>

        <section id="storySection" style="display:block;" class="content">
            <textarea id="storySection-Content">Story will appear here</textarea>
            <!-- <button type="button" id="storySection-Button">Identify Characters</button> -->
        </section>

        <section id="characterSection" style="display:none;" class="content">
            <div id="characterSection-Content">Character list will appear here</div>
            <button type="button" id="characterSection-Button">Identify Characters</button>
        </section>

        <section id="audioSection" style="display:none;" class="content">
            <div id="audioSection-Content" class="audio" style="float: inline-start;"></div>
            <div id="audioSection-Buttons" style="float: inline-end;">
                <button type="button" id="audioSection-Button1" style="display:none;">Generate Audio</button>
                <button type="button" id="audioSection-Button2" style="display:none;">Download Audio</button>
                <button type="button" id="audioSection-Button3" style="display:none;">Generate Frames</button>
            </div>
        </section>

        <section id="imageSection" style="display:none;" class="content">
            <div id="imageSection-Content" class="scrollable-container" style="float: inline-start;">Generated Images will appear here</div>
            <button type="button" id="imageSection-Button" style="float: inline-end;">Generate Video</button>
        </section>

        <section id="videoSection" style="display:none;" class="content">
            <div id="videoSection-Content" class="scrollable-container">Generated Videos will appear here</div>
            <button type="button" id="videoSection-Button" style="float: inline-end;">Download Video</button>
        </section>

        <section id="errorDisplay" style="display:none;"></section>
    </main>

    <footer>
        <p>© 2023 Shakespeare Story Generator</p>
    </footer>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>